#about-us {
    width: 100%;
    height: fit-content;
    padding: 0 5vw;
}

#about-us>h2 {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(22, 19, 18);
    margin: 5vh 0;
}

#about-us>p {
    font-size: 2rem;
    margin-bottom: 10vh;
}

#about-us>.gallery {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5vh 0;
}

#about-us>.gallery>.img {
    width: 20%;
}

#about-us>.gallery>.text {
    width: 60%;
    font-size: 1rem;
}
