body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background: #e28000e8;
    color: white;
    padding: 20px 0;
    text-align: center;
}
h1 {
    margin: 0;
}
main {
    padding: 20px;
    max-width: 600px;
    margin: auto;
}
section {
    margin-bottom: 20px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-top: 10px;
}
input[type="text"],
input[type="email"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
    transition: background 0.3s, transform 0.3s;
}
button:hover {
    background: #45a049;
    transform: scale(1.05);
}
#responseMessage {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #4CAF50;
    background-color: #dff0d8;
    color: #3c763d;
    border-radius: 4px;
    display: none; /* Start hidden */
}
.back-button {
    background-color: #2980b9;
    margin-top: 20px;
    padding: 10px 15px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s, transform 0.3s;
}
.back-button:hover {
    background-color: #217dbb;
    transform: scale(1.05);
}
footer {
    background-color: #1b9b02;
}
