* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 18px;
    font-size: 'EB Garamond', serif;
}

body {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
}

.heading {
    font-size: 4rem;
    font-weight: 400;
    color: rgb(22, 19, 18);
    margin: 2.5vh 0;
}

@media (max-width: 1100px) {
    html {
        font-size: 12px;
    }
}

#welcome {
    width: 100%;
    margin: 10vh 0 5vh;
}

#welcome>h1 {
    color: rgb(22, 19, 18);
    font-size: 3rem;
    font-weight: 400;
    margin-left: 5vw;
}

#welcome .first {
    color: rgb(22, 182, 193);
}

#welcome .second {
    color: rgb(22, 172, 40);
}

#welcome .container {
    width: 100%;
    margin: 2.5vh 0;
}

#welcome>.caption {
    margin: 2.5vh 0;
    width: 100%;
    height: 7.5vh;
    display: flex;
    justify-content: space-between;
}

#welcome>.caption>p {
    width: 45%;
    font-size: 1.5rem;
}

#welcome>.caption>button {
    width: 15%;
    height: 100%;
    background-color: #EEC355;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

#welcome>.caption>button:hover {
    background: #000;
    color: #EEC355;
}

.divider {
    width: 100%;
    height: 10vh;
}
